* {
  box-sizing: border-box;
}
header {
  margin-top: 20px;
  position: relative;
}
nav {
  background: linear-gradient(to right, #ec1111, #6d00a0);
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  z-index: 1000;
}
.HeadDiv {
  display: flex;
  flex-direction: row;
  gap: 4px;
  font-size: 20px;
  font-family: "sans-serif";
  font-weight: bold;
  color: azure;
}
.HeadDiv a {
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgb(255, 255, 255);
}

.HeadDiv a:hover {
  text-decoration: underline;
  animation: rotate 0.25s ease-in forwards,
    glow 0.25s ease-in-out infinite alternate, Colors ease-in 0.25s forwards;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(4deg);
  }
}

@keyframes glow {
  from {
    border-color: transparent;
    box-shadow: 0 0 50px #af1266;
    border-radius: 10px;
  }
  to {
    border-color: #ff4da6;
    box-shadow: 0 0 60px #dbfc00;
    border-radius: 10px;
  }
}
@keyframes Colors {
  0% {
    background-color: rgba(240, 245, 179, 0);
    font-size: larger;
    color: rgb(255, 255, 255);
  }
  25% {
    font-size: larger;
    background-color: rgba(22, 96, 96, 0.312);
  }

  50% {
    font-size: larger;
    background-color: rgba(22, 96, 96, 0.694);
  }
  100% {
    background-color: rgb(22, 96, 96);
    font-size: larger;
    color: rgb(255, 242, 0);
  }
}
.Logo:hover {
  animation: imgglow 0.25s ease-in-out infinite alternate;
  transform: scale(1.2);
}
@keyframes imgglow {
  from {
    border-color: transparent;
    box-shadow: 0 0 10px #af1266;
    border-radius: 10px;
  }
  to {
    border-color: #ff4da6;
    box-shadow: 0 0 20px #055661;
    border-radius: 10px;
  }
}
.Logo {
  transition: transform 0.2s;
}
.main-content {
  padding-top: 80px;
}

.WholeSection {
  background: linear-gradient(to right, rgb(57, 95, 144), rgb(20, 71, 84));
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border: solid black 1px;
  border-radius: 20px;
  width: 50%;
  height: 50%;
}
.topSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}
.topSection h4 {
  margin-bottom: 0%;
  margin-top: 0%;
}
.topSection p {
  font-size: 25px;
  color: wheat;
}
.middleSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: rgb(255, 255, 255);
  font-weight: bold;
  width: 100%;
  height: 100%;
  font-size: smaller;
  overflow: hidden;
  transition: transform 0.3s;
}
.lastSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  color: wheat;
  transition: transform 0.3s;
}
.lastSection p {
  font-size: 9px;
  margin-bottom: 0%;
  margin-top: 0%;
}

.topSection-description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topSection-description p {
  color: rgba(255, 255, 255, 0.432);
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: medium;
  -webkit-text-stroke: 0.09px black;
}

.topSection p:hover {
  transform: scale(1.5);
}
.topSection h4:hover {
  transform: scale(1.5);
}
.middleSection div p:hover {
  transform: scale(1.5);
}

.lastSection p:hover {
  transform: scale(1.8);
}
